ol{
    list-style : none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}

ol li::before{
    content: " curso " counter(contador) ") ";
    color: blue;
}
ol li::after{
    content: ".";
}
.tarjeta{
    border: 10px solid black;
    background-color: aquamarine;
    text-align: center;
}
#titulo_principal{
    color :blue;
    background-color:purple

}
.marco{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.centrar{
    text-align: center;
}
.boton{
    background-color:white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px; 

}
.boton:hover{
    background-color:burlywood;
    padding: 12px;
}